# Selective Git
*
!*/
!.gitignore
!.pre-commit-config.yaml
!security/.baseline.security

# Black List - Make sure that variation on .env will be excluded no matter what 
.env
.env.*
security/.env
security/.env.*
env/.env
env/.env.*

# Whitelisted Assets #
## Nix Files ##
!flake.lock
!flake.nix
# uv files
!pyproject.toml
!uv.lock
## Python ##
!*.py

## Data base ##
# Should be tracked but I don't want to export the actual data base on github.
# Open the data base folder but not the actual db
!db/
